*{
  justify-content: center;
}

.table-container {
  width: 500px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #0a0a0a;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #20b398;
}

tr:nth-child(even) {
  background-color: #170c05;
}
tr:nth-child(odd) {
  background-color: #625752;
}
