.user-table{
  width:100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th, .user-table td{
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.user-table th{
  background-color: #fa0c0c;
}